:root {
  --light-grey: #f5f6f7;
  --dark-blue: #0a0a23;
  --fcc-blue: #1b1b32;
  --light-yellow: #feac32;
  --dark-yellow: #ffadad;
  --light-pink: #ffadad;
  --dark-red: #850000;
  --light-green: #acd157;
}